* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    height: 100%;
    background-image: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) ), url('background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
}

header {
    background-color: rgb(255, 158, 0);
    margin: 0;
    padding: 0;
}

header nav {
    display: flex;
    color: white;
    flex-direction: row;
    justify-content: space-between;
}

header nav h2:hover {
    color: lightslategrey;
}

header nav a:hover {
    color: lightslategrey;
}

header nav ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin-right: 20px;
}

header nav h2 {
    margin-left: 10px;
    padding-top: 5px;
}

header nav h2 a {
    text-decoration: none;
    color: white;
}

header nav ul li, span {
    padding: 10px;
}

header nav ul li a {
    padding: 10px;
    text-decoration: none;
    color: white;
}

.App-footer {
    background-color: rgb(255, 158, 0);
    color: white;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;  
}

.App-footer p {
    margin-top: 0.75rem;
}

main {
    background-color: transparent;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Home {
    margin-top: 30px;
    color: white;
}

.container, .my-collections {
    display: flex;
}

.overview {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.overview, .person {
    width: 200px;
    height: 350px;
    color: white;
    margin: 30px;
    background-color: transparent;
    border: 1px solid black;
    box-shadow: 2px 5px 1.5em 5px black;
    opacity: 0.9;
    text-align: center;
}

.overview article img, .Details article img {
    width: 198px;
    height: 200px;
}

button, .overview a, .Details a {
    padding: 5px;
    margin-top: 20px;
    border: 2px solid gray;
    border-radius: 10px;
    background-color: rgb(255, 158, 0);
    color: white;
}

.overview a, .Details a {
    text-decoration: none;
}

button:hover {
    box-shadow: 0 0 11px rgba(33, 33, 33, .5); 
}

.overview a:hover {
    box-shadow: 0 0 11px rgba(33, 33, 33, .5); 
}

.Details a:hover {
    box-shadow: 0 0 11px rgba(33, 33, 33, .5); 
}

.overview p {
    background-color: gray;
    color: white;
}

.Profile, .Create, .Login, .Register, .All-collections, .Details, .Edit {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: white;
    align-items: center;
    width: auto;
    background-color: transparent;
    margin: 1em 3em;
    padding: 1em;
    border-radius: 1rem;
    box-shadow: 1px 5px 1.50em 5px black;
}

.Profile, .All-collections {
    height: 550px;
}

.Login, .Register, .Create {
    height: auto;
}

form {
    display: flex;
    flex-direction: column;
}

.delete {
    background-color: red;
}

.error {
    color: red;
}

.search {
    border-radius: 7px;
    height: 1.5rem;
}

.search:focus {
    background-color:lightgoldenrodyellow;
}